/* List Helpers Tests */
/* ------------------ */
/*  

### Every function ------ */
/*  - [function] every (2 assertions, 2 passed, 0 failed) */
/*  
    Summary:
    - 1 Tests
    - 1 Passed
    - 0 Failed */
/*  

### Filter function ------ */
/*  - [function] filter (2 assertions, 2 passed, 0 failed) */
/*  
    Summary:
    - 1 Tests
    - 1 Passed
    - 0 Failed */
/*  

### Map function ------ */
/*  - [function] map (1 assertions, 1 passed, 0 failed) */
/*  
    Summary:
    - 1 Tests
    - 1 Passed
    - 0 Failed */
/*  

### Reduce function ------ */
/*  - [function] reduce (3 assertions, 3 passed, 0 failed) */
/*  
    Summary:
    - 1 Tests
    - 1 Passed
    - 0 Failed */
/*  

### Some function ------ */
/*  - [function] some (2 assertions, 2 passed, 0 failed) */
/*  
    Summary:
    - 1 Tests
    - 1 Passed
    - 0 Failed */
